<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HEREDERO STYLE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-grid>

  <ion-row>

    <ion-col>
      <ion-img src="assets/img/cam1.png" class ="IMAGENES"></ion-img>
      <ion-text color="success">
        <h1>H1: Hola buenas noches</h1>
        <h1>H1: Hola buenas noches</h1>
        <h1>H1: Hola buenas noches</h1>
      </ion-text>
    </ion-col>

    <ion-col>
      <ion-text color="danger">
        <h2>H2: ¿Como estas?</h2>
        <h2>H2: ¿Como estas?</h2>

      </ion-text>
    </ion-col>

  </ion-row>

</ion-grid>

<small> Pruba small </small> 

<p>
  <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
  I saw a werewolf with a Chinese menu in his hand. Walking through the
  <ion-text color="success"><sub>streets</sub></ion-text> of Soho in the rain. He
  <ion-text color="medium"><i>was</i></ion-text> looking for a place called Lee Ho Fook's. Gonna get a
  <ion-text color="danger">big dish of beef chow mein.</ion-text>
</p>



</ion-content>
